# Entorno virtual
venv/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.sublime-workspace

# Python cache
__pycache__/
*.py[cod]

# Archivos de datos y credenciales
.env
.env.local

# Logs y resultados
logs/
*.log

main.py

.gitignore

